@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Rubik', sans-serif; */
@font-face {
    font-family: "Numans";
    src: url("../fonts/Numans-Regular.ttf");
    font-display: swap;}
@font-face {
    font-family: "NovaRound";
    src: url("../fonts/NovaRound-Regular.ttf");
    font-display: swap;}
    @font-face {
        font-family: "Raleway-variableFont";
        src: url("../fonts/Raleway-VariableFont_wght.ttf");
        font-display: swap;}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
}
header{
    width: 100%;
    min-height: 100vh;
    background:#AEE68A ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#mobileNav,#nav{
    display: none;
}
/* Partie Header */
header > .boxLogo{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.boxLogo > img{
   height: 10vh;
   margin-top: 30px;
   margin-left: 30px;
}
.fa-solid{
    font-size: 40px;}
.fa-leaf{
    color: #6CC431;
    transform: rotate(45deg);
    margin-top : 20px ;
}
.fa-arrow-rotate-right{
    color: #ffff;
}
#boxIdentite{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
    height: 75vh;
}
.hello{
    display: flex;
    margin-left: 15%;
}
h1,.moi,.prenom{
    font-family: 'Rubik', sans-serif; 
    font-size: 90px;
    font-weight: 400;
    color: #ffff;
}
.moi{
    font-size: 47px;
    margin-top: 45px;
    margin-left: 20px;
}
.prenom{
    font-size: 224px;
    margin-left: 15%;
}
.boxReseau{
    width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.reseau{margin-right: 30px;}
.fa-brands{
    font-size: 30px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
/* section  A Propos */
#aPropos{
    width: 100%;
    min-height: 100vh;
    display: flex;
}
#aPropos > .boxPhoto{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: yellowgreen;
}
#aPropos >.boxPhoto >.boxLogo{
    display: flex;
    flex-direction: column;
}
#aPropos > .boxPhoto > .boxLogo > h2{
    font-family: "NovaRound";
    font-size: 100px;
}
.photoChris > img{
  margin-right: 20px;
}
#aPropos >.boxphoto > .boxLogo >.fa-solid{
    font-size: 40px;}
#aPropos >.boxphoto > .boxLogo >.fa-leaf{
    color: #6CC431;
    transform: rotate(45deg);
    margin-top : 20px ;
}
#aPropos >.boxphoto > .boxLogo >.fa-arrow-rotate-right{
    color: #ffff;
}
#boxPresentation{
    width:80%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#boxPresentation >.presentation{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}
#boxPresentation >.presentation > h3,a{
    font-family: "NovaRound";
    font-size: 40px;
}
#boxPresentation >.presentation > h4{
    font-family: 'Rubik', sans-serif;
    font-size: 80px;
}
#boxPresentation >.presentation > p{
    font-family: "Numans";
    font-size: 22px;
}
.roundContact > a{
    /* color: white;  */
   text-decoration: none;
}
