/******** liste des font-family *********/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Rubik', sans-serif; */
@font-face {font-family: "Numans";src: url("../fonts/Numans-Regular.ttf");font-display: swap;}
@font-face {font-family: "NovaRound";src: url("../fonts/NovaRound-Regular.ttf");font-display: swap;}
@font-face {font-family: "Raleway-variableFont";src: url("../fonts/Raleway-VariableFont_wght.ttf");font-display: swap;}
/* Général */
*{margin: 0; padding: 0; box-sizing: border-box;}
body{width: 100%;min-height: 100vh;}
/* Partie cacher pour mobile/responsive */
#mobileNav,#nav{display: none;}
/*************Partie Header************* */
header{width: 100%;min-height: 100vh;background:#AEE68A;display: flex;justify-content: center;align-items: center;flex-direction: column;}
header > .boxLogo{width: 100%;display: flex;justify-content: flex-start;align-items: center;}
/* partie boxLogo */
.boxLogo > img{height: 10vh;margin-top: 30px;margin-left: 30px;}
.fa-solid{font-size: 40px;}
.fa-leaf{color: #6CC431;transform: rotate(45deg);margin-top : 20px ;}
.fa-arrow-rotate-right{color: #ffff;}
/* partie boxIdentité */
#boxIdentite{width: 100%;display: flex;flex-direction: column;justify-content:center;align-items: flex-start;height: 75vh;}
.hello{display: flex; margin-left: 15%;}
h1,.moi,.prenom{font-family: 'Rubik', sans-serif;font-size: 90px;font-weight: 400; color: #ffff;}
.moi{font-size: 47px;margin-top: 45px;margin-left: 20px;}
.prenom{font-size: 224px;margin-left: 15%;}
/* partie boxReseau */
.boxReseau{width: 100%;min-height: 10vh; display: flex;align-items: center;justify-content: flex-end;}
.reseau{margin-right: 30px;}
.fa-brands{font-size: 30px;color: white;text-decoration: none; margin-left: 20px;}
/********************section  A Propos ************************/
#aPropos{width: 100%; min-height: 100vh; display: flex;}
.boxPhoto{width: 30%;height: 100vh;display: flex;justify-content: center;align-items: center;flex-direction: row; background: #4A8442;}
/* BoxLogo et A propos */
/*.boxPhoto >.boxLogo{display: flex;justify-content: center;align-items: center;flex-direction: column;}  */
.boxPhoto >.boxLogo > img {margin-top: -100px;margin-left: 15px;}
.boxPhoto >.boxLogo > h2{font-family: "Rubik";font-size: 95px;color: white;margin-left: 50px;writing-mode: vertical-rl;text-orientation: upright;letter-spacing : -35px;}
/* photoChris*/
.boxPhoto >.boxLogo >.photoChris {display: flex;justify-content: flex-end;align-items: center;}
.photoChris > img{margin-right: -155px;}
/* Logo Chris */
.boxphoto > .boxLogo >.fa-solid{font-size: 40px;}
.boxphoto > .boxLogo >.fa-leaf{color: #6CC431;transform: rotate(45deg); margin-top : 20px ;}
.boxphoto > .boxLogo >.fa-arrow-rotate-right{color: #ffff;}
/* partie boxPrensentation */
#boxPresentation{width:75%; height: 100vh; display: flex;flex-direction: column;}
/* Partie présentation */
.presentation{width: 100%;height: 100vh;display: flex;justify-content: flex-end;flex-direction: column;margin-right: 25px;}
.presentation > h3, h4 {margin-left: 50px;margin-top: -35px;}
.presentation > h3 {font-family: "NovaRound";font-size: 40px;}
.presentation > h3> span{color:#ffff;font-size: 50px;}
.presentation > h3> span:hover{color: black;} 
.presentation > h4{width:80%;font-family: 'Rubik', sans-serif;font-size: 80px;}
/* partie résumer */
.resumer{width:90%;height: 100vh;display: flex;justify-content: center; align-items: center;flex-direction: column; margin-left: 80px;}
.resumer > p {width: 50%;display: flex;justify-content: center;align-items: center;font-family: "Numans";font-size: 16px;margin-left: 20px; margin-top:20px;}  
/* #roundContact{ width: 100%;height: 100vh; position: relative; display: flex;justify-content: center; align-items: center; flex-direction: column;}
.roundC{font-size: 25px;margin-top: 20px;}
.roundC:hover{color: black;}
#roundContact > a{color: white; text-decoration: none;z-index: 2; margin-right: 4px;}
#roundContact::after{content:"Contact";position: absolute;border-radius: 80px / 40px;width: 150px; height: 75px; background:#4A8442; z-index: 1; top: 10px; right: 20px; color: white;  text-decoration: none;}*/
/**************** SECTION COMPETENCES DEV*********************/
#competencesDev{ width: 100%; min-height: 100vh; display: flex; justify-content:center;align-items: center;flex-direction:row;}
.division{width: 100%;height:10vh;display: flex;justify-content:center;align-items: center;}
.division> h2{ font-family: 'NovaRound';font-size: 2.5rem;color: black;margin-left: 10px;margin-top: 20px;}
.division>.fa-leaf{margin-top:40px;}
/* partie langages de compétence developpement */
.boxLangages{width: 100%;height:100vh;display: flex;justify-content: center; 
    align-items: center;flex-direction: column;}
.barLangages{ height:20px;background: #6CC431;border-radius: 30px;}
#langagesDev{ width:85%;height:20px; background:#e2dfcd; border-radius:30px;display: flex;justify-content: flex-start;
    align-items:center; color:black; margin:48px 0px 0px 60px} 
#langagesDev>.fa-html5,.fa-css3-alt,.fa-js-square,.fa-php,.fa-laravel,.fa-bootstrap,.fa-wordpress-simple{color:#095933; margin-left: -38px;}
.html{width: 85%;}.css{width: 75%;}.js{width:20%}.php{width: 2%;}.laravel{width: 0%;}.bootstrap{width: 60%;}.wordpress{width: 15%;}
/* Partie Compétence */
#competencesDev> .boxCompetencesDev{ width:100%;height: 100vh; justify-content: center; align-items: center;flex-direction: column-reverse; background:#AEE68A;margin: 0 50px;display: flex;justify-content: center;align-items: center;}
#competencesDev> h2{font-family: "Rubik",sans-serif;font-weight: bold; font-size: 55px;color: black;writing-mode: vertical-rl;text-orientation: upright}
#competencesDev> .boxCompetencesDev >h3{width:83%;font-family: "Numans"; font-size:3.5rem;margin-left: 30px; background: #AEE68A;color: white;}
/**************** SECTION COMPETENCES DESIGNE/DIGITAL/AUTRES*********************/
#competencesDeg{ width: 100%; height: 100vh; display: flex; justify-content:center;align-items: center;flex-direction:row;}
#competencesDeg> .boxCompetencesDeg{ width:80%; color:#6CC431;display: flex;justify-content: center;}
.boxCompetencesDeg> h2{font-family: "Rubik",sans-serif;font-weight: bold; font-size: 55px; color: black; writing-mode: vertical-rl;text-orientation: upright}
#competencesDeg> .boxCompetencesDeg >h3{width:70%;font-family: "Numans"; font-size:3.5rem;margin-left: 80px;}
/* partie langages de compétence */
#competencesDeg{ width: 100%; min-height: 100vh; display: flex; justify-content:center;align-items: center;flex-direction:row;}
.type{width: 100%;height:10vh;display: flex;justify-content:flex-start;align-items: center;}
.type> h2{ font-family: 'NovaRound';font-size: 1.8rem;font-weight:900;color: black;margin-left: 47px;margin-top: 57px;}
.type>.fa-leaf{margin-top:67px;font-size: 25px;}
/* partie langages de compétence developpement */
.boxDig{width: 100%;height:100vh;display: flex;justify-content: center; align-items: center;flex-direction: column; margin: 50px;}
.barLangages{ height:20px;background: #6CC431;border-radius: 30px;}
#langagesDig{ width:85%;height:20px; background:#e2dfcd; border-radius:30px;display: flex;justify-content: flex-start;align-items:center; color:black; margin:48px 0px 0px 60px} 
.progres{width: 100%; font-family: 'NovaRound';font-size: 1.4rem;color: black;}
/*.boxIntegration{}
.boxResponsiveDesign{ }
.responvive{}
.frameworks{} */
#langagesDig>.fa-figma, .fa-mobile-button, .fa-sass, .fa-code, .fa-git-square{color:#095933; margin-left: -38px;font-size: 1.6rem;}
.figma{width: 70%;}.mobile{width: 80%;}.sass{width:20%}.integration{width: 90%;}.responsive{width: 85%;}.git{width:50%}










/* Spin */
/* .hamburger--spin .hamburger-inner {
transition-duration: 0.22s;
transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
.hamburger--spin .hamburger-inner::before {
 transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
.hamburger--spin .hamburger-inner::after {
 transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
transform: rotate(225deg);
transition-delay: 0.12s;
transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
.hamburger--spin.is-active .hamburger-inner::before {
 top: 0;
 opacity: 0;
 transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
.hamburger--spin.is-active .hamburger-inner::after {
 bottom: 0;
 transform: rotate(-90deg);
 transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); } */
